.panels-flexible-main_page .panels-flexible-region {
  padding: 0;
}

.panels-flexible-main_page .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-main_page .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-main_page .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-main_page .panels-flexible-column {
  padding: 0;
}

.panels-flexible-main_page .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-main_page .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-main_page .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-main_page .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-main_page .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-main_page-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-main_page-inside {
  padding-right: 0px;
}

.panels-flexible-main_page {
  width: auto;
}

.panels-flexible-region-main_page-_big_header {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-main_page-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-main_page-row_1_ {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-main_page-row_2 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-main_page-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-main_page-1_of_3_ {
  float: left;
  width: 32.9668%;
}

.panels-flexible-region-main_page-center {
  float: left;
  width: 33.0636%;
}

.panels-flexible-region-main_page-3_of_3_ {
  float: left;
  width: 32.9695%;
}

.panels-flexible-row-main_page-main-row-inside {
  padding-right: 0px;
}

